dev/install/
devpipes/
*.pyc
.coverage
cover
coverage.xml
node_modules
nosetests.xml
*.DS_Store
*.o
*.so
lib/go/pkg
lib/go/bin
lib/bin
lib/hap.py-build
sakever.py
lib/rust/*/target
lib/stan/len_mass_model.cpp
lib/stan/len_mass_model
lib/stan/len_mass_model_targeted.cpp
lib/stan/len_mass_model_targeted
.cargo
*.sublime-project
*.sublime-workspace
.nfs*
*.swp
.version
